<!-- <p>home works!</p> -->

<form [formGroup]="ClientForm" (ngSubmit)="submit()">
  <!-- <label for="switch-2">Reactive Forms</label>
  <gp-select-buttons
    id="switch-2"
    formControlName="mySwitch"
  ></gp-select-buttons> -->
  <!-- <rating formControlName="rate"></rating>
  <custom-input
    label="Full name"
    placeholder="John Doe"
    formControlName="fullname"
  >
  </custom-input> -->

  <br />

  <gp name="state" formControlName="state"></gp>
  <!-- <state-selector name="state" formControlName="state"></state-selector> -->
  <button>Submit</button>
</form>

<!-- <h2>Current selection:</h2> -->
<!-- <h3>{{ state.value }}</h3> -->

<!-- <form [formGroup]="ClientForm" (ngSubmit)="submit()">
    <label for="switch-2">Reactive Forms</label>
    <app-switch id="switch-2" formControlName="mySwitch"></app-switch>
    <button>Submit</button>
  </form> -->

<p-selectButton
  [options]="cities1"
  [(ngModel)]="selectedCity1"
></p-selectButton>

<png-select [options]="cities1" [(ngModel)]="selectedCity1"></png-select>
