.ui-selectbutton {
  display: inline-block;
}

.ui-selectbutton.ui-state-error {
  padding: 0;
}

.ui-selectbutton .ui-button.ui-state-focus {
  outline: none;
}
.ui-custom-selectbutton {
  display: flex;
}

.ui-custom-selectbutton-item {
  display: flex;
}

.ui-custom-selectbutton-divider {
  display: flex;
  align-self: center;
  padding: 0 15px;
  justify-content: center;
}

.ui-custom-selectbutton
  .ui-custom-selectbutton-item:last-child
  .ui-custom-selectbutton-divider {
  display: none;
}
