<div
  [ngClass]="
    ' ui-selectbutton ui-buttonset ui-widget ui-corner-all ui-custom-selectbutton ui-buttonset-' +
    (options ? options.length : 0)
  "
  [ngStyle]="style"
  [class]="styleClass"
  role="group"
>
  <div
    class="ui-custom-selectbutton-item"
    *ngFor="let option of options; let i = index"
  >
    <div
      #btn
      class="ui-button ui-widget ui-state-default ui-button-text-only {{
        option.styleClass
      }}"
      role="button"
      [attr.aria-pressed]="isSelected(option)"
      [ngClass]="{
        'ui-state-active': isSelected(option),
        'ui-state-disabled': disabled || option.disabled,
        'ui-state-focus': btn == focusedItem,
        'ui-button-text-icon-left': option.icon != null,
        'ui-button-icon-only': option.icon && !option.label
      }"
      (click)="onItemClick($event, option, i)"
      (keydown.enter)="onItemClick($event, option, i)"
      [attr.title]="option.title"
      [attr.aria-label]="option.label"
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      [attr.tabindex]="tabindex"
      [attr.aria-labelledby]="ariaLabelledBy"
    >
      <ng-container *ngIf="!itemTemplate; else customcontent">
        <span
          [ngClass]="['ui-clickable', 'ui-button-icon-left']"
          [class]="option.icon"
          *ngIf="option.icon"
        ></span>
        <span class="ui-button-text ui-clickable">{{
          option.label || "ui-btn"
        }}</span>
      </ng-container>
      <ng-template #customcontent>
        <ng-container
          *ngTemplateOutlet="
            itemTemplate;
            context: { $implicit: option, index: i }
          "
        ></ng-container>
      </ng-template>
    </div>

    <div class="ui-custom-selectbutton-divider">
      OR
    </div>
  </div>
</div>
